*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
}

header{
        height: 12rem;
}
#header-container{
        flex: none;

}
.col-3 .logo{
        display: block;
        margin: auto;

}

.col-3 ul{
        float: none;
        display: block;
}

#top-section-content{
        width: 95%;

}

#top-section-content h1{
        font-size: 2.6rem ;
        padding-top: 50px;
}

#top-section-content p{
        font-size: 1rem;
        margin-bottom: 5px;
}

.play{
        margin: 30px auto 50px auto;
}

.cta {
        width: 70%;
}

.cta input{
   display: block;     
   width: 100%;
   border: none;
   margin-bottom: 10px;
}

.cta button{
        width: 100%;
}

.grid{
        padding-top: 30px;
}

.grid-header{
        width: 90%;
        font-weight: 100;
        line-height: 1.5;
}

.grid-items{
        padding-top: 30px;
}
.grid-items .col-3{
        width: 100%;
        text-align: justify;
}

.grid-items h3{
        text-align: center;
}

.apple-section .col-2{
        float: none;
        width: 100%;
}

.apple-heading{
        width: 100%;
}

.text-style{
        width: 90%;
}