header{
        height: 12rem;
}
#header-container{
        flex: none;

}
.logo{
        display: block;
}

.col-3 ul{
        float: none;
        display: block;
}

.col-3 .btn-green{
        display: block;
        flex-wrap: none;
}

#top-section-content h1{
        font-size: 1.5em;
}