*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

#header-container{
    display: flex;
    justify-content: space-between;
    background: #fff;
    height: 6rem;
    max-width: 1500px;
    text-align: center;
    padding: 20px;

}

.col-3{
    margin: 0px 4rem;
}


.nav-items li a {
    text-decoration: none;
    /* color: #ffe4c4; */

}

ul li {
    list-style: none;
}
