*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

.btn-green{
    background: #6dc77a;
    color: #fff;
}

.btn-green:hover {
    background: #6dc85a;
}
header{
    background: #ffffff;
    height: 80px;
}

#header-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 90%;
    margin: auto;
}

.logo{
    display: inline-block;
    margin-top: 30px;
}

.col-3{
    width: 33%;
}

.nav-items{
    display: flex;
    margin-top: 20px;
}

.nav-items li a {
    text-decoration: none;
    color: #8e8e8e;
    margin-top: 15px;
    padding-right: 40px;
}

ul li {
    display: flex;
    list-style: none;
}

.col-3 .btn-green{
    display: inline-block;
    text-decoration: none;
    margin-top: 28px;
    padding: 10px 26px;
    border-radius: 30px;
    font-size: 17px;
    /* float: right; */
    margin-top: 20px;
}

.main-container{
    background: url(../img/6.1\ Friends.jpg) no-repeat center center/cover;
    height: 740px;
    border: none;
    
}
#top-section-content {
    width: 60%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
}
#top-section-content h1{
    font-size: 4em;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin-top: 0;
    padding-top: 100px;
    margin-bottom: 10px;
}

#top-section-content p{
    text-align: center;
    color: #fff;
    font-size: 1.3em;
    font-weight: 500;
}