*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #000000;
}

.btn-green{
    background: #6dc77a;
    color: #fff;
}

.btn-green:hover {
    background: #6dc85a;
}
header{
    background: #ffffff;
    height: 80px;
}

#header-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 90%;
    margin: auto;
}

.logo{
    display: inline-block;
    margin-top: 30px;
}

.col-3{
    width: 33%;
}

.nav-items{
    display: flex;
    margin-top: 20px;
}

.nav-items li a {
    text-decoration: none;
    color: #8e8e8e;
    margin-top: 15px;
    padding-right: 40px;
}

ul li {
    display: flex;
    list-style: none;
}

.col-3 .btn-green{
    display: inline-block;
    text-decoration: none;
    margin-top: 28px;
    padding: 10px 26px;
    border-radius: 30px;
    font-size: 17px;
    /* float: right; */
    margin-top: 20px;
}